<body>
<h1> Flights </h1>
  <% @flights.each do |flight| %>
      <div id="flight-<%= flight.id %>">
        Flight Number: <%= flight.number %> - Airline: <%= flight.airline_name %>
        Passengers: </br>
        <% flight.passengers.each do |passenger| %>
          <div id="pass-<%= passenger.id %>">
          <li> Passenger Name: <%= passenger.name %> <%= button_to "Remove #{passenger.name}", flights_passenger_path(flight, passenger), method: :delete %></li>
          </br>
          </div>
        <% end %>
      </div>
    </br>
    <% end %>

</body>
